<div class="jumbotron">
  <p class="lead">Welcome to guggmeta! This is one of the <a href="https://github.com/Guggenheim-Helsinki/Data-API/wiki/List-of-projects-created-with-the-Data-API" target="_blank">projects</a> created with the <a href="https://github.com/Guggenheim-Helsinki/Data-API" target="_blank">Data API</a> published by <a href="http://designguggenheimhelsinki.org/" target="_blank">Guggenheim Helsinki Design Competition</a>. The main goal of guggmeta is to expose the metadata left behind the PDF documents that were included in the <a href="/submissions">1,715 anonymous submissions</a>.</p>
  <p class="lead">Browse the submissions received or conduct your on searches!</p>
  <p class="lead">
    This project is open source, which means the code is publicly available, can be reviewed, and anyone can join the project and suggest changes. <a href="https://github.com/sevein/guggmeta" target="_blank">Check out the repository</a>.
  </p>
</div>

<div class="finalists">

  <h4>Don't forget to check out the finalists!</h4>

  <ul class="finalist-grid">
    <li>
      <div class="finalist-entry" id="GH-04380895">
        <a href="/submissions/GH-04380895">
          <dl>
            <dt>GH-04380895</dt>
          </dl>
          <div class="finalist-entry-image">
            <img src="//d2otze2hmesugu.cloudfront.net/GH-04380895/thumb-2x.jpg" alt="GH-04380895">
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="finalist-entry" id="GH-1128435973">
        <a href="/submissions/GH-1128435973">
          <dl>
            <dt>GH-1128435973</dt>
          </dl>
          <div class="finalist-entry-image">
            <img src="//d2otze2hmesugu.cloudfront.net/GH-1128435973/thumb-2x.jpg" alt="GH-1128435973">
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="finalist-entry" id="GH-121371443">
      <a href="/submissions/GH-121371443">
        <dl>
          <dt>GH-121371443</dt>
        </dl>
        <div class="finalist-entry-image">
          <img src="//d2otze2hmesugu.cloudfront.net/GH-121371443/thumb-2x.jpg" alt="GH-121371443">
        </div>
        </a>
      </div>
    </li>
    <li>
      <div class="finalist-entry" id="GH-5059206475">
        <a href="/submissions/GH-5059206475">
          <dl>
            <dt>GH-5059206475</dt>
          </dl>
          <div class="finalist-entry-image">
            <img src="//d2otze2hmesugu.cloudfront.net/GH-5059206475/thumb-2x.jpg" alt="GH-5059206475">
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="finalist-entry" id="GH-5631681770">
      <a href="/submissions/GH-5631681770">
        <dl>
          <dt>GH-5631681770</dt>
        </dl>
        <div class="finalist-entry-image">
          <img src="//d2otze2hmesugu.cloudfront.net/GH-5631681770/thumb-2x.jpg" alt="GH-5631681770">
        </div>
      </a>
      </div>
    </li>
      <li>
      <div class="finalist-entry" id="GH-76091181">
        <a href="/submissions/GH-76091181">
          <dl>
            <dt>GH-76091181</dt>
          </dl>
          <div class="finalist-entry-image">
            <img src="//d2otze2hmesugu.cloudfront.net/GH-76091181/thumb-2x.jpg" alt="GH-76091181">
          </div>
        </a>
      </div>
    </li>
  </ul>

</div>
