<section class="submission-list">

  <div class="row">

    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Submissions</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

      <div class="results" ng-if="submissions.length">

        <div class="results-summary">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <span ng-if="query" class="input-group">
                Your search <em>{{ query }}</em>
                <a class="remove glyphicon glyphicon-remove" href="/submissions"></a>
              </span>
            </div>
            <div class="col-xs-12 col-sm-6 total">
              <span class="no-matches">{{ totalItems }} matches</span>
              <span class="cu-page">Page {{ pager.currentPage }} of 14</span>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-12 col-md-3">

            <div class="facets">
              <!-- TODO: Facets -->
              <h4 class="hidden-xs">1,715 submissions</h4>
            </div>

          </div>

          <div class="col-xs-12 col-md-9">

            <div ng-repeat="item in submissions">
              <div class="search-result">
                <a href="/submissions/{{ item._id }}" class="title"><h4>{{ item._id }}</h4></a>
                <div class="c clearfix">
                  <a href="/submissions/{{ item._id }}" class="thumbnail"><img ng-src="http://a5.designguggenheimhelsinki.org/{{ item._id }}-partC1.jpg"/></a>
                  <div class="text" ng-bind-html="item.highlight"></div>
                </div>
                <div class="actions">
                  <a class="btn btn-default" href="/submissions/{{ item._id }}">Open</a>
                </div>
              </div>
            </div>

            <div class="text-center">
              <pagination total-items="totalItems" items-per-page="{{ pager.itemsPerPage }}" boundary-links="true" max-size="{{ pager.maxSize }}" ng-model="pager.currentPage" rotate="false" ng-change="pageChanged()"></pagination>
            </div>

          </div>
        </div>
      </div>

      <div class="no-results" ng-if="!submissions.length">
        No results. Try searching something else, e.g. "<a href="/submissions?q=water">Water</a>".
      </div>

    </div>

  </div>

</section>
