<section class="submission-list">

  <div class="row">

    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Submissions</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

      <div class="results" ng-if="submissions.length">
        <p>
          Total results: {{ totalItems }}
          <span ng-if="query"><br />Your search: "{{ query }}" (<a href="/submissions">delete</a>)</span>
        </p>
        <table class="table table-bordered">
          <tr ng-repeat="item in submissions" class="search-result">
            <td>
              <a href="/submissions/{{ item._id }}"><img ng-src="http://a5.designguggenheimhelsinki.org/{{ item._id }}-partC1.jpg"/></a>
              <a href="/submissions/{{ item._id }}">{{ item._id }}</a>
            </td>
            <td ng-bind-html="getHighlight(item.highlight['pdfs.content'][0])"></td>
          </tr>
        </table>
        <pagination total-items="totalItems" items-per-page="{{ pager.itemsPerPage }}" ng-model="pager.currentPage" ng-change="pageChanged()"></pagination>
      </div>

      <div class="no-results" ng-if="!submissions.length">
        No results. Try searching something else, e.g. "<a href="/submissions?q=water">Water</a>".
      </div>

    </div>

  </div>

</section>
