<!doctype html>
<html lang="en" ng-app="guggmeta">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>guggmeta</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body ng-class="{ popup: popup }">

    <header id="global-header" ng-controller="HeaderCtrl">
      <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/assets/logo.png" srcset="/assets/logo.png 1x, /assets/logo.2x.png 2x" alt="guggmeta logo">
            </a>
          </div>
          <form ng-show="!home" class="navbar-form navbar-right" role="search" name="form" ng-submit="search()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="query" ng-model="query">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" aria-label="Search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <!--
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                -->
              </div>
            </div>
          </form>
        </div>
      </nav>
    </header>

    <div id="wrapper">

      <header class="homepage-top" ng-if="home" ng-controller="HomepageTopCtrl">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2>Welcome to guggmeta</h2>
              <form role="search" name="form" ng-submit="search()" class="clearfix">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="query" ng-model="query">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" aria-label="Search">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-sm-4 browse-menu">
              <h3>Guggenheim Helsinki Design Competition</h3>
              <ul>
                <li><a href="/submissions">Submissions</a></li>
                <li>Finalists: <a href="/submissions/GH-04380895">1</a>, <a href="/submissions/GH-1128435973">2</a>, <a href="/submissions/GH-121371443">3</a>, <a href="/submissions/GH-5059206475">4</a>, <a href="/submissions/GH-5631681770">5</a>, <a href="/submissions/GH-76091181">6</a></li>
                <li><a href="/analytics">Analytics</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <main id="content" class="container">
        <div ng-view autoscroll></div>
      </main>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 wrapper">
              <a href="https://github.com/sevein/guggmeta">guggmeta</a>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <script src="/assets/bower_components/angular/angular.min.js"></script>
    <script src="/assets/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/assets/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/assets/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/assets/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/assets/app.js"></script>
    <script src="/assets/vendor/ui-bootstrap-pagination/ui-bootstrap-pagination.js"></script>
  </body>
</html>
