/**
 * Primary color: #75a500
 */

html {
  font-family: 'RobotoDraft';
}

/**
 * Header
 */

#global-header .navbar {
  margin-bottom: 0;
}

#global-header .navbar-form {
  margin-top: 10px;
}

#global-header input[type=text],
#global-header .btn {
  border: 0;
  border-radius: 0;
  height: 32px;
}

#global-header .btn {
  background-color: #75a500;
  color: white;
}

/**
 * Homepage top
 */

.homepage-top {
  background-color: #75a500;
}

.homepage-top h2 {
  font-size: 48px;
  color: white;
  text-align: right;
  margin-right: 20px;
}

/**
 * Browse menu
 */

.browse-menu {
  background-color: black;
  margin-top: 20px;
  text-align: left;
  padding-bottom: 20px;
}

.browse-menu h3 {
  color: #666;
  font-size: 16px;
}

.browse-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.browse-menu li {
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
}

.browse-menu a {
  text-decoration: underline;
  color: #ffffff;
}

.browse-menu a:hover,
.browse-menu a:active,
.browse-menu a:focus {
  background-color: #75a500;
}

/**
 * Header search
 */

/**
 * Footer
 */

#footer {
  height: 200px;
  background-color: #eee;
  margin-top: 40px;
}

#footer .wrapper {
  text-align: center;
}

#footer a {
  line-height: 200px;
  font-size: 30px;
  color: #bbb;
}

/**
 * Content
 */

#content {
  padding: 20px 0 0 0;
}

/**
 * Submission
 */

.submission-detail h2 {
  text-align: center;
  background-color: #053f63;
  color: yellow;
  padding: 10px;
}

.submission-detail .prev img {
  width: 100%;
}

.submission-detail .prev:first-child img {
  margin-bottom: 20px;
}

.submission-detail .first-unknown {
  border-top: 3px solid #ddd;
}

.part h4 {
  text-transform: uppercase;
}

.part .name {
  font-weight: bold;
  text-transform: uppercase;
}

.part .hidden-field {
  color: #999;
}

/**
 * Finalist grid
 * Borrowed from http://designguggenheimhelsinki.org/finalists/
 */

.finalist-grid {
  list-style: none;
  padding: 0;
  font-size: .8125em;
  font-weight: bold;
  clear: both;
  margin: 0 -10px 1.5625em -10px;
  overflow: hidden;
}
@media only screen and (max-width: 719px) {
  .finalist-grid {
    width: auto;
    margin: 10px -5px 10px -10px;
  }
}
.finalist-grid li {
  position: relative;
  float: left;
  width: 16.66666667%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .finalist-grid li {
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 719px) {
  .finalist-grid li {
    width: 50%;
  }
}
.finalists-index .finalist-grid li {
  position: relative;
  float: left;
  width: 33.33333333%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .finalists-index .finalist-grid li {
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 719px) {
  .finalists-index .finalist-grid li {
    width: 50%;
  }
}
.finalist-grid a:active img {
  opacity: .8;
}
.finalist-grid .finalist-entry {
  position: relative;
  overflow: hidden;
  background-color: #000;
  margin: 10px;
}
@media only screen and (max-width: 719px) {
  .finalist-grid .finalist-entry {
    margin: 0 5px 15px 10px;
  }
}
.finalist-grid .finalist-entry-image {
  overflow: hidden;
}
.finalist-grid .finalist-entry-image img {
  width: 100%;
  z-index: 1;
  float: left;
}
.finalist-grid .finalist-entry dl {
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 1em 1em;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.finalist-grid .finalist-entry dd {
  margin: 0;
  color: #81adc0;
}
.finalist-grid .finalist-entry a {
  display: block;
}
.finalist-grid .finalist-entry a:hover img,
.active-entry img {
  opacity: .1;
}
